# Created by .ignore support plugin
*.iml
.project
.settings/

bin/*
*.class
*/target/*
*/unpackage/*
lib/*
release/*

*/package-lock.json
uni-app/node_modules/*
*/async-validator/*
*/babel-helper-vue-jsx-merge-props/*
*/babel-runtime/*
*/core-js/*
*/deepmerge/*
*/element-ui/*
*/lodash/*
*/normalize-wheel/*
*/regenerator-runtime/*
*/resize-observer-polyfill/*
*/throttle-debounce/*
*/vue/*
*/vue-data-tables/*
*/@babel/*
*/@vant/*
*/@vue/*
*/regenerator-runtime/*
*/vant/*
*/vue-lazyload/*

# logs
*.log
.idea
